<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Give me info
body
  h1 Name please?
  form(method="POST", action="/info")
    input(type="text", name="name" placeholder="Your name?")
    input(type="text", name="age" placeholder="How old are you?")
    input(type="text", name="color" placeholder="Favorite color?")
    input(type="hidden" name="username" value="username")
    input(type="hidden" name="password" value="password") 
    button(type="submit") Submit